certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
functools32==3.2.3.post2
gevent==1.2.2
greenlet==0.4.12
httplib2==0.19.0
idna==2.6
matplotlib==2.0.2
nltk==3.2.4
numpy==1.13.1
oauth2==1.9.0.post1
oauthlib==2.0.2
pymongo==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
subprocess32==3.2.7
tweepy==3.5.0
ujson==1.35
urllib3==1.22
