<!doctype html>
<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">

<style type="text/css">
	  .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
</style>
</head>

<body>
	
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="center">
          <h4><strong><em>The social network graph for this group is not ready yet</em></strong></h4>
          <a href="#" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>Request it!</a>
        </div>
    </div>
  </div>
</div>

</body>

</html>